*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: aliceblue;
}

/* .col-md-6{
    width: 100%;
    margin: auto;
}
.col-sm-12{
    margin: auto;
} */

.card{
    margin-top: 10px;
}
.card-body a{
   margin-left: 4rem !important;
}