*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: aliceblue;
}

/* .col-md-6{
    width: 100%;
    margin: auto;
}
.col-sm-12{
    margin: auto;
} */

.card{
    margin-top: 10px;
}
.card-body a{
   margin-left: 4rem !important;
}
.row{
    --bs-gutter-x:0;
}

@media (min-width:300px) and (max-width: 600px) {
    body{
        background-color: rgb(185,182,182);
        margin-bottom:1rem;
    }
    .row{
        --bs-gutter-x:0;
        padding-left: 0;
        padding-right: 0;
    }
    .card {
        border: 0;
        border-radius: 0;
    }
    .container-fluid{
        padding-left: 0;
        padding-right: 0;

    }
    .card-body a {
        color: #111;
        background-color: yellow;
        font-weight: bolder;

    }

}
